.basic_details{
  color: black;
}

.card{
  margin-left: 5%;
  margin-top: 1%;
  width: 90%;
  //transform: skewX(-25deg);
}

.top_shadow
{
  position: relative;
}
.top_shadow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  left: 7px;
  height: 90%;
  width: 10%;
  top: 5%;
  max-width:300px;
  background: #777;
  //-webkit-box-shadow: 0 15px 10px #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: -10px 0px 10px 1px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
